altgraph==0.17.5
blinker==1.9.0
bottle==0.13.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
dnspython==2.8.0
dotenv==0.9.9
email-validator==2.3.0
Flask==3.1.2
Flask-JSON==0.4.0
Flask-Login==0.6.3
flask-mongoengine==1.0.0
Flask-WTF==1.2.2
Flasko==0.1.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
load-dotenv==0.1.0
MarkupSafe==3.0.3
mongoengine==0.29.1
packaging==25.0
proxy_tools==0.1.0
pycparser==2.23
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pymongo==4.15.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.2
python-dotenv==1.2.1
pywebview==6.1
requests==2.32.5
setuptools==80.9.0
typing_extensions==4.15.0
urllib3==2.6.2
Werkzeug==3.1.4
WTForms==3.2.1
